@page "/swimlane-template"

<h3> Swimlane Header Template </h3>

<SfKanban TValue="KanbanModel" KeyField="Status" DataSource="Tasks" Height="400px">
    <KanbanColumns>
    @foreach (ColumnModel item in columnData)
    {
        <KanbanColumn HeaderText="@item.HeaderText" KeyField="@item.KeyField" AllowToggle="@item.AllowToggle" >
        </KanbanColumn>
    }
    </KanbanColumns>
    <KanbanCardSettings HeaderField="Title" ContentField="Summary">
    </KanbanCardSettings>
    <KanbanSwimlaneSettings KeyField="Assignee">
    <Template>
        @{
            SwimlaneSettingsModel swimlane = (SwimlaneSettingsModel)context;
            <div class="swimlane-template e-swimlane-template-table">
                <div class="e-swimlane-row-text">
                    <img src="./images/@(swimlane.KeyField).png" alt="@swimlane.TextField" />
                    <span>@swimlane.TextField</span>
                </div>
            </div>
            
        }
    </Template>
    </KanbanSwimlaneSettings>
</SfKanban>

<style>
    .swimlane-template {
        font-size: 15px;
        font-weight: 500;
    }
    .swimlane-template img {
        height: 24px;
        width: 24px;
        border-radius: 50%;
    }
    .swimlane-template span {
        padding-left: 10px;
    }
</style>

@code {
    List<KanbanModel> Tasks = new KanbanModel().GetTaskDetails();
    private List<ColumnModel> columnData = new List<ColumnModel>() {
        new ColumnModel(){ HeaderText= "To Do", KeyField= new List<string>() { "Open" }, AllowToggle=true },
        new ColumnModel(){ HeaderText= "In Progress", KeyField= new List<string>() { "InProgress" } },
        new ColumnModel(){ HeaderText= "Testing", KeyField= new List<string>() { "Testing" }, AllowToggle=true },
        new ColumnModel(){ HeaderText= "Done", KeyField= new List<string>() { "Close" } }
    };
}
